<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<appSettings>
		<!--<add key="Data" value="D:\TEST\BAGeocoding\BAGeocoding.Service\App_Data\" />-->
		<!--<add key="Logs" value="D:\TEST\BAGeocoding\BAGeocoding.Service\Logs\" />-->
		<add key="Data" value="D:\Project\StudyGeo\src\BAGeocoding.Api\20220901\" />
		<add key="Logs" value="D:\Project\StudyGeo\src\BAGeocoding.Api\TEST\BAGeocoding\BAGeocoding.Service\Logs" />
		<add key="User" value="gps" />
		<add key="Pass" value="binhanh" />
		<add key="ServiceTestSpeed" value="False" />
		<add key="ServiceDataSpeed" value="False" />
		<add key="CheckAuthenticate" value="False" />
		<add key="DistanceIntersectRoad" value="50" />
		<add key="DistanceIntersectRange" value="50,100,200,500" />
		<add key="DistanceIntersectEpsilon" value="5" />
		<add key="SplitKeys" value="," />
		<add key="SplitData" value="@" />
		<add key="GoogleKey" value="AIzaSyAWm1jocFrgw_4iMJAr6bzoK4EWOCJHWZw" />
		<add key="RoadByLevel" value="39" />
		<!--
    <add key="PriorityStr" value="661,662,664,732,733,651,652,669,653,654,672,657,724,659,436,371,425,392,393,370,376,380,383,387,471,900"></add>
    -->
		<add key="PriorityStr" value="1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,21,22,23,24,25,27,29,30,31,32,33,34,35,37,38,39,41,42,44,45,46,48,49,53,55,57,61,64,65,66,67,69,71,72,75,76,77,78,79,80,81,82,83,84,85,87,88,91,95,97,98,101,102,104,106,107,109,113,115,117,119,120,121,123,125,126,127,128,130,131,132,134,135,136,139,141,143,144,145,147,149,150,151,152,154,155,160,162,163,165,172,173,175,178,183,186,194,198,212,213,215,217,218,219,220,221,223,225,227,228,229,230,231,232,233,234,235,236,237,239,249,250,251,252,253,254,255,258,259,260,265,270,271,272,273,274,276,281,282,348,354,366,368,370,371,376,377,379,380,383,386,387,392,393,409,413,425,436,471,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,580,584,585,586,587,623,631,632,633,636,651,652,653,654,657,659,661,662,664,669,672,724,729,732,733,896,899,900" />
	</appSettings>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>