@{
    ViewData["Title"] = "Home Page";
}
<!-- Import Leaflet CSS -->
<link rel="stylesheet" href="~/app/leaflet/leaflet.css" />
<style>
    #map {
        height: calc(100vh - 0px) !important;
    }
    .leaflet-container {  /* all maps */
        width:  100%;
        /* height: calc(100vh - 60px);  */
        height: 100vh;
    }
    
    .legend, .temporal-legend {
        padding: 6px 10px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: rgba(0,0,0,0.85);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        color:whitesmoke;
    }
    
    #legendTitle {
        text-align: center;
        margin-bottom: 15px;
        color: whitesmoke;
        /* font-variant: small-caps; */
        font-weight: bold;
    }
    
    .symbolsContainer {
        float: left;
        margin-left: 50px;
    }
    
    .legendCircle {
        border-radius:50%;
        border: 1px solid #537898;
        background: rgba(0,128,128,0.5);
        display: inline-block;
    }
    
    .legendValue {
        position: absolute;
        right: 12px;
        color:whitesmoke;
        font-size:10pt;
        text-align:center;
        font-weight: bold;
    }
    
    .info {
        width:30vw;
        height:48vh;
        /* width:20vw; */
        /* height:300px; */
        padding: 6px 10px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: rgba(0,0,0,0.85);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        color:whitesmoke;
        /* max-width:100%;
        max-height:100%; */
    }
    
    .info h5 {
        margin: 0 0 5px;
        color: #777;
        text-align: center;
        /* margin-bottom: 15px; */
        color: whitesmoke;
        /* font-variant: small-caps; */
        font-weight: bold;
    }
    
    .info #horBarChart {
        width: 100% !important;
        max-width: 800px;
        /* height:inherit; */
    }
    
    .leaflet-control-layers {
        float:right;
        top:500px;
        right:0;
        /* margin-left:-200px; */
        position:absolute;
        background: rgba(0,0,0,0.85);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        color:whitesmoke;
    }
   
    .legend {
        line-height: 20px;
        color: white;
    }
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
        
    }
</style>

<!-- Import Leaflet JS -->
<script src="~/app/jquery/dist/jquery.min.js"></script>
<script src="~/app/leaflet/leaflet.js"></script>
<script src="~/app/extscripts/js/Chart.js"></script>

<div id="map"></div>

<script>
    // Url Endpoints
    // var dataUrl = "https://localhost:7190/waterconsumption/getall";
    var dataUrl = "https://localhost:7185/haLongRoad/topten";

     // Basemap urls
    var osm_humanitarian = L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
     var osm_map = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    var esri_dark_gray_base = L.tileLayer('http://services.arcgisonline.com/arcgis/rest/services/Canvas/World_Dark_Gray_Base/MapServer/tile/{z}/{y}/{x}', {
        attribution: '&copy; <a href="http://services.arcgisonline.com/arcgis/rest/services">ESRI</a> arcgisonline'
    });
    var world_street_map = L.tileLayer('http://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
    });
    var world_imagery = L.tileLayer('http://services.arcgisonline.com/arcgis/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    });

    // Initialize the map
    var map = L.map('map', {
        layers: [osm_humanitarian] // Default basemap
    }).setView([20.953362133323264,107.02660218506102], 11);
    // Initialize basemaps
    var baseLayers = {
        "Open Street Map": osm_map,
        "OSM Humanitarian": osm_humanitarian,
        "Dark Gray Base": esri_dark_gray_base,
        "World Street Map": world_street_map,
        "World Imagery": world_imagery
    }
    // Add the layers control
    L.control.layers(baseLayers).addTo(map);

</script>

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@